foooo123123
12312
123123



{{file-upload url="/api/upload" update_progress_bar=(action "update_progress_bar") set_upload_results=(action "set_upload_results")}}

----

{{ember-progress-bar progress=value}}

start upload_results
{{yield upload_results}}
end upload_results

value= {{value}}

upload_result = {{upload_res.result}}
{{#if upload_res}}
    {{#if upload_res.success}}
        {{#each upload_res.data as |rentalUnit|}}
              <li>id={{rentalUnit.id}}, info={{rentalUnit.info}}, type={{rentalUnit.type}}</li>
        {{/each}}
    {{else}}
        <h1>failed ({{upload_res.result}})</h1>
    {{/if}}
{{/if}}
